.projectContainer {
  text-align: center;
  background-color: rgb(230, 245, 230);
  padding-top: 50px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
  padding: 0px 150px 50px 150px;
}
@media (max-width: 950px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    padding: 0%;
    padding-bottom: 50px;
  }
  .projectContainer {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}
