.title {
  margin: 0px;
  text-align: center;
  padding-top: 70px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0px 150px 50px 150px;
}

.about p {
  text-align: justify;
}
.about div div{
  display: flex;
  width: fit-content;
  padding: 5px;
}
.about div a{
  text-decoration: none;
}
.about div div:hover {
  cursor: pointer;
}
.about div div img{
  width: 40px;
}
.about div button{
  padding: 10px;
  border-radius: 15px;
  background-color: #a5c1ec;
  border: none;
}
.about div button:hover{
  cursor: pointer;
  background-color: #6897dd;
}
#about {
  padding-top: 50px;
}
@media (max-width: 950px) {
  .about {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: auto;
  }
  .about div {
    margin: auto;
  }

  .container {
    width: 95%;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
  }
  .about img {
    max-width: 100%;
  }
}
