.title {
  margin: 0px;;
  text-align: center;
  padding-top: 70px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0px 150px 50px 150px;
}
.about p{
  text-align: justify;
}
#about{
  padding-top: 50px;
}