.home {
  width: 100%;
  padding: 0;
  padding-top: 180px;
  padding-bottom: 110px;
  background-color: rgb(230, 245, 230);
  display: flex;
  justify-content: center;
  gap: 70px;
  line-height: 0.75;
}
.home .text {
  padding-top: 60px;
}
.name {
  font-size: max(60px);
}
.des {
  font-size: max(40px);
}

.profile img {
  border-radius: 15px;
  max-width: 280px;
}
@media (max-width: 950px) {
  .home {
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
  }
  .home .text {
    margin: auto;
  }
  .profile {
    margin: auto;
  }
}
@media (max-width: 285px) {
  .name {
    font-size: max(40px);
  }
  .des {
    font-size: max(30px);
  }
  .profile img {
    border-radius: 15px;
    max-width: 180px;
  }
}
