.stats {
  text-align: center;
  padding-top: 50px;
}
.contribution {
  margin: auto;
  margin-left: 18%;
}

@media (max-width: 950px) {
  .stats {
    width: 100%;
    padding-left: 10%;
    padding-right: 15%;
  }
  .streak_contribution{
    display: none;
  }
}
